#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Media Conversion Tool
Exec="/home/user/yor-mc-lite/yor-mc-lite.sh"
Icon=video-player
Terminal=true
Categories=Utility;
Name[en_US]=yor-mc-lite.desktop
